section#title {
  background-color: #3897B3;
  margin: 0 auto;
}

.heading {
  text-align: center;
  font-size: 3em;
  padding: 20px;
  font-family: 'Bungee', sans-serif;;
}

.heading-border {
  border-bottom: 2px solid #3897B3;
}

h3.subtitle {
  margin-top: 50px;
  text-align: center;
  font-size: 2em;
}

.form-box {
  text-align: center;
}

h4.score {
  text-align: center;
  font-size: 1em;
}

section#give-up {
  text-align: center;
  font-size: 1em;
  margin-bottom: 20px;
}

#bottom {
  color: white;
  background-color: #7E7E7F;
}

footer#bottom {
  background-color: #7E7E7F;
}

.copyright {
  font-size: 12px;
  text-align: center;
  padding-top: 15px;
  background-color: #7E7E7F;
}

@media (max-width: 700px) {
  .heading {
    font-size: 2em;
    padding: 5px;
  }
  h3.subtitle {
    margin-top: 20px;
    font-size: 1.23em;
  }
}
